body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(90deg, #3498db, #2ecc71);
  background-size: 200% 100%;
  transition: background-position 0.4s;
}

.container {
  margin: 0 auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 82.8px;
  height: 46.92px;
}

.switch-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #edf0e7;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 37.104px;
  width: 37.104px;
  left: 5.52px;
  bottom: 5.52px;
  background-color: #fffbd6;
  transition: 0.4s;
  background-image: url(/scrimba-logo-removebg-preview.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

input:checked + .slider {
  background-color: #feeab9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #feeab9;
}

input:checked + .slider:before {
  transform: translateX(37.104px);
}

.slider.round {
  border-radius: 46.92px;
}

.slider.round:before {
  border-radius: 50%;
}
